li:hover {
    background-color: #f5f5f5;
    border: 2px solid springgreen;
  }

.checked {
    color: rgb(238, 11, 11);
    text-decoration: line-through;
  }

.buton{
    float: right;
    border-radius: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
    font-style: unset;
    font-weight: bold;
}
  
.nanChecked{
    color: springgreen;
    font-weight: bold;
    
}
